body{
	background-color: #D8bfd8;
}
.imagem{
width: 80%;
}
.info{
text-align: center;
font-family: times new roman;
font-size: 30;
color: white	
}
.hyper{
border-bottom: solid black 1px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
background-color: #f0e5fc
}
.col-xl-12, .col-xl-3 {
padding: 0;
}
p, autor{
text-align: center;
font-family: times new roman;
font-size: 25px; !important;
margin: 15px;
}
.list{
color:white;	
}
h1, h3{
text-align: center
}
h4
{
 font-family: times new roman;
 font-size: 75;
 text-align: center;
}
.botao
{
text-align: center;
}
.cad{
font-weight: bold;
}
.mudar
{
text-align:  right;
}
.edicao{
text-align: Justify;
font-size: 17px;
font-family: Times new roman;
margin: 0px 0px 0px 100px;

font-weight: bold;
}
.img-left{
	float:left;
}
.cont{
text-align: justify;
font-family: times new roman;
font-size: 25px;
font-weight: bold;
}
.rodape{
color: white;
text-align: center;
font-size: 20px
}