imagem{
height: 100%;
width: 100px
}
.hyper{

border-bottom: solid black 1px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px
}
p, autor{
text-align: center;
font-family: times new roman;
font-size: 20
}
h1, h3{
text-align: center
}
h4
{
 font-family: times new roman;
 font-size: 75;
 text-align: center;
}
.botao
{
	text-align: center

}
.mudar
{
text-align:  right;
}
